.table-responsive {
  .table {
    background-color: #fff;
  }

  @media screen and (max-width: $mediaDesktop) {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;

    .table {
      margin-bottom: 0;
    }
  }
}

.table-blank {
  td {
    vertical-align: top;
    border: none;
    padding: 0 3px
  }
}

.table-roles-aside {
  width: 100%; 
  td {
    vertical-align: top;
    padding: 0 2px;
  }

  tr.is-layer td{
    vertical-align: bottom;
  }

  tr.is-new-row td{
    padding: 6px 3px 3px;
    border-top: 1px solid $grayLighter;
  }

  tr.is-layer.is-new-row td {
    border-top: 1px solid $grayLight;
    padding: 8px 3px 3px
  }

  tr:last-child {
    border-bottom: 1px solid $grayLight;
  }
}


.table-striped th:first-child {
  padding-left: 8px;
}

.table-fixed {
  table-layout: fixed;
}

td.action {
  text-align: center;
}

table.roles {
  width: 100%;
  td {
    border: none;
    padding: 0px;
  }
  td:first-child { padding-left: 10px; width: 100%; }
  td { min-width: 20px; }
}
